In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [2]:
df = pd.read_csv('covid.csv')

In [3]:
df.head()

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,04-05-2020,02-05-2020,9999-99-99,97,2,27,97,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,06-04-2020,01-04-2020,9999-99-99,2,2,54,2,...,2,2,2,2,1,2,2,99,1,2
3,0b5948,2,2,17-04-2020,10-04-2020,9999-99-99,2,1,30,97,...,2,2,2,2,2,2,2,99,1,2
4,0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,...,2,1,2,1,2,2,2,99,1,2

In [31]:
new_df = df.loc[df['intubed'].isin([1,2])]
new_df['age']

2         54
3         30
4         60
5         47
6         63
          ..
566584    45
566590    68
566591    48
566593    31
566599    49
Name: age, Length: 121789, dtype: int64

In [32]:
age = np.array(new_df['age'])
intubed = np.array(new_df['intubed'])

X = age.reshape(-1, 1)
y = intubed.reshape(-1, 1)

In [33]:
reg = LinearRegression()

In [34]:
model = reg.fit(X, y)

In [38]:
model.predict(np.array([[60], [60]]))

array([[1.91652402],
       [1.91652402]])